<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link "  href="#">Home</a>
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">Add new Listing</a>
         
        </div>

        <div class="navbar-nav ms-auto">
         <% if(!currUser) { %>
          <a class="nav-link "  href="/signup">Sign Up</a>
          <a class="nav-link" href="/login">Log in</a>
          <% } %> <% if(currUser) { %>
          <a class="nav-link" href="/logout">Log out</a>
          <% } %>
        <!-- Dropdown ---------------------->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu">
              <% if(!currUser) { %>
              <li><a class="nav-link "  href="/signup">Sign Up</a></li>
              <li><a class="nav-link" href="/login">Log in</a></li>
              <% } %> <% if(currUser) { %>
              <li><a class="nav-link" href="/logout">Log out</a></li>
              <% } %>
            </ul>
          </li> -->
         
        </div>
      </div>
    </div>
  </nav>